body{
    background-color:lightgrey;
}
.container-1{
    display:flex;
    align-items: center; 
    justify-content: center;
}
.container-2{
    display:flex; 
    justify-content: center;
}
.container-2-1{
    width: 50vw; 
    display: flex; 
    background-color: white; 
    border-radius: 10px; 
    margin-top:3vh;
}
.container-3{
    margin-left:25vw; 
    font-size:14px; 
    margin-top:3vh;
}
.container-4{
    margin-left:25vw;
    margin-top:5vh;
}
.container-4-1{
    display:inline-block; 
    width: 20vw; 
    font-size:16px; 
}
.container-5{
    text-align: center; 
    font-size:12px;
}
.header{
    display:inline-block; 
    font-size:20px;
    margin-top:8vh;
}
.addToChrome{
    margin-top:1.5vh;
    margin-left:2vw;
}
.please{
    margin-top:1.5vh;
    margin-left:2vw; 
    font-size:13px;
}
.steps{
    margin-top:5vh;
    margin-left:3.5vw;
}
.header2{
    font-weight: 700; 
    font-size: 23px; 
    width: 15vw; 
    margin-bottom:50px; 
    margin-top:-100px; 
    text-align:center; 
    margin-left:8vw;
}
.tb{
    height:5vh; 
    width:30vw;  
    margin-left: -1vw;
}